<a href="https://colab.research.google.com/github/ogut77/Segmentation/blob/master/Onur.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
from google.colab import drive

# This will prompt for authorization.
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
import urllib.request


for x in range(2009, 2018):
    data=str(x)+".csv"
    url = "http://data.europa.eu/euodp/repository/ec/dg-grow/mapps/TED_CAN_"+data
    print(url)
    dt=urllib.request.urlretrieve(url,'/content/drive/My Drive/'+data)

http://data.europa.eu/euodp/repository/ec/dg-grow/mapps/TED_CAN_2009.csv

In [0]:
!ls '/content/drive/My Drive/'

 2009.csv   2012.csv   2015.csv  'Colab Notebooks'   shakespeare.txt
 2010.csv   2013.csv   2016.csv   ml-latesta
 2011.csv   2014.csv   2017.csv   ml-latest-smalla

In [0]:
d2009=pd.read_csv('/content/drive/My Drive/2009.csv')
d2009.head()

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (27,48,60) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,ID_NOTICE_CAN,TED_NOTICE_URL,YEAR,ID_TYPE,DT_DISPATCH,XSD_VERSION,CANCELLED,CORRECTIONS,B_MULTIPLE_CAE,CAE_NAME,...,NUMBER_OFFERS,NUMBER_TENDERS_SME,NUMBER_TENDERS_OTHER_EU,NUMBER_TENDERS_NON_EU,NUMBER_OFFERS_ELECTR,AWARD_EST_VALUE_EURO,AWARD_VALUE_EURO,AWARD_VALUE_EURO_FIN_1,B_SUBCONTRACTED,DT_AWARD
0,2009182880,ted.europa.eu/udl?uri=TED:NOTICE:182880-2009:T...,2009,3,02-JUL-09,D205,0,0,NaN,Wojewódzki Szpital Specjalistyczny im. Św. Raf...,...,1.0,NaN,NaN,NaN,NaN,NaN,5527.89,5527.89,N,29-MAY-09
1,2009182880,ted.europa.eu/udl?uri=TED:NOTICE:182880-2009:T...,2009,3,02-JUL-09,D205,0,0,NaN,Wojewódzki Szpital Specjalistyczny im. Św. Raf...,...,2.0,NaN,NaN,NaN,NaN,NaN,3641.74,3641.74,N,29-MAY-09
2,2009182880,ted.europa.eu/udl?uri=TED:NOTICE:182880-2009:T...,2009,3,02-JUL-09,D205,0,0,NaN,Wojewódzki Szpital Specjalistyczny im. Św. Raf...,...,1.0,NaN,NaN,NaN,NaN,NaN,1525.09,1525.09,N,21-MAY-09
3,2009182880,ted.europa.eu/udl?uri=TED:NOTICE:182880-2009:T...,2009,3,02-JUL-09,D205,0,0,NaN,Wojewódzki Szpital Specjalistyczny im. Św. Raf...,...,1.0,NaN,NaN,NaN,NaN,NaN,5922.45,5922.45,N,15-JUN-09
4,2009182880,ted.europa.eu/udl?uri=TED:NOTICE:182880-2009:T...,2009,3,02-JUL-09,D205,0,0,NaN,Wojewódzki Szpital Specjalistyczny im. Św. Raf...,...,4.0,NaN,NaN,NaN,NaN,NaN,942.79,942.79,N,29-MAY-09

In [0]:
d2009.count()

ID_NOTICE_CAN                   398527
TED_NOTICE_URL                  398527
YEAR                            398527
ID_TYPE                         398527
DT_DISPATCH                     398527
XSD_VERSION                     398527
CANCELLED                       398527
CORRECTIONS                     398527
B_MULTIPLE_CAE                       0
CAE_NAME                        398527
CAE_NATIONALID                       0
CAE_ADDRESS                     395742
CAE_TOWN                        398527
CAE_POSTAL_CODE                 396358
ISO_COUNTRY_CODE                398527
B_MULTIPLE_COUNTRY                   0
ISO_COUNTRY_CODE_ALL                 0
CAE_TYPE                        398527
EU_INST_CODE                         0
MAIN_ACTIVITY                   294538
B_ON_BEHALF                     291108
B_INVOLVES_JOINT_PROCUREMENT         0
B_AWARDED_BY_CENTRAL_BODY            0
TYPE_OF_CONTRACT                398527
TAL_LOCATION_NUTS               234134
B_FRA_AGREEMENT                 398527
FRA_ESTIMATED                    11751
B_FRA_CONTRACT                     659
B_DYN_PURCH_SYST                  3625
CPV                             397359
                                 ...
CRIT_CODE                       375076
CRIT_PRICE_WEIGHT               133051
CRIT_CRITERIA                   206081
CRIT_WEIGHTS                    191815
B_ELECTRONIC_AUCTION            307894
NUMBER_AWARDS                   398527
ID_AWARD                        397986
ID_LOT_AWARDED                    8635
INFO_ON_NON_AWARD                    0
INFO_UNPUBLISHED                397986
B_AWARDED_TO_A_GROUP                 0
WIN_NAME                        387743
WIN_NATIONALID                       0
WIN_ADDRESS                     329327
WIN_TOWN                        346363
WIN_POSTAL_CODE                 339250
WIN_COUNTRY_CODE                353317
B_CONTRACTOR_SME                     0
CONTRACT_NUMBER                 345299
TITLE                             8403
NUMBER_OFFERS                   320574
NUMBER_TENDERS_SME                   0
NUMBER_TENDERS_OTHER_EU              0
NUMBER_TENDERS_NON_EU                0
NUMBER_OFFERS_ELECTR                 0
AWARD_EST_VALUE_EURO            135855
AWARD_VALUE_EURO                257349
AWARD_VALUE_EURO_FIN_1          293073
B_SUBCONTRACTED                 245527
DT_AWARD                        372169
Length: 71, dtype: int64

In [0]:
dt2009=d2009[['ID_NOTICE_CAN','YEAR','CANCELLED','CAE_TOWN','ISO_COUNTRY_CODE' ,'CAE_TYPE', 'TYPE_OF_CONTRACT'  ,'CPV', 'B_GPA',
              'VALUE_EURO', 'VALUE_EURO_FIN_1', 'VALUE_EURO_FIN_2', 'B_EU_FUNDS', 'TOP_TYPE', 'B_ACCELERATED' ,'CRIT_CODE',
              'B_ELECTRONIC_AUCTION', 'ID_AWARD', 'WIN_TOWN', 'WIN_COUNTRY_CODE' ,'NUMBER_OFFERS','AWARD_EST_VALUE_EURO', 'AWARD_VALUE_EURO',
              'AWARD_VALUE_EURO_FIN_1', 'B_SUBCONTRACTED', 'DT_AWARD']]

In [0]:
dt2009.head()

,ID_NOTICE_CAN,YEAR,CANCELLED,CAE_TOWN,ISO_COUNTRY_CODE,CAE_TYPE,TYPE_OF_CONTRACT,CPV,B_GPA,VALUE_EURO,...,B_ELECTRONIC_AUCTION,ID_AWARD,WIN_TOWN,WIN_COUNTRY_CODE,NUMBER_OFFERS,AWARD_EST_VALUE_EURO,AWARD_VALUE_EURO,AWARD_VALUE_EURO_FIN_1,B_SUBCONTRACTED,DT_AWARD
0,2009182880,2009,0,Chęciny,PL,6,U,33141000.0,N,302510.35,...,N,2923083.0,Łódź,NaN,1.0,NaN,5527.89,5527.89,N,29-MAY-09
1,2009182880,2009,0,Chęciny,PL,6,U,33141000.0,N,302510.35,...,N,2923084.0,Łódź,NaN,2.0,NaN,3641.74,3641.74,N,29-MAY-09
2,2009182880,2009,0,Chęciny,PL,6,U,33141000.0,N,302510.35,...,N,2923085.0,Warszawa,NaN,1.0,NaN,1525.09,1525.09,N,21-MAY-09
3,2009182880,2009,0,Chęciny,PL,6,U,33141000.0,N,302510.35,...,N,2923086.0,Łódź,NaN,1.0,NaN,5922.45,5922.45,N,15-JUN-09
4,2009182880,2009,0,Chęciny,PL,6,U,33141000.0,N,302510.35,...,N,2923087.0,Kraków,NaN,4.0,NaN,942.79,942.79,N,29-MAY-09

In [0]:
#drop cancelled b_eu_funds b_accelerated crit_code b_electronic_auction cae_town win_town b_subcontracted
tempDF = tempDF.drop(columns=['CANCELLED','B_EU_FUNDS','B_ACCELERATED','CRIT_CODE',
              'B_ELECTRONIC_AUCTION'])